body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    /* background-image: url('pictures/2.jpeg'); */
    background-size:auto; 
    background-position: center;
  }
 
 #app {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  h1,h2{
    text-align: center;
    color: white;
  }
  
  #back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid #ffffff;
    cursor: pointer;
  }
  
  #back-button:hover {
    background-color: rgba(103, 89, 89, 0.727);
  }  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border-right: 2px solid #4a1a9d;
    padding: 8px;
    /* color: white; */
  }

  th {
    border-bottom: 2px solid #4a1a9d;
    border-right: 2px solid white;
    text-align: left;
    color: white;
  }

  th:last-child, td:last-child {
    border-right: none;
  }